<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=410px" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <!--<link rel="stylesheet" href="css/develop.sass">-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <title><%=title%></title>
</head>
<div class="overlay"></div>
<div class="bg"></div>
<div class="left-menu _close">
    <div class="content">
        <div class="close" id="close-left-menu">
            <div></div>
        </div>
        <div class="icon">
            <a href="#">
                <img src="img/header/icon.svg" alt="Ельцы">
            </a>
        </div>
        <div class="nav">

            <ul>
                <li><a href="/">Именины</a></li>
                <li><a href="/">ПРАЗДНИКИ</a></li>
                <li><a href="/">история ЗАПИСок</a></li>
                <!--<li style="margin-bottom: 100px">-->
                <li style="margin-bottom: 30px">
                    <a href="/">СОБЫТИЯ</a> <span>15</span></li>
                <li><a href="/">О ПРОЕКТЕ</a></li>
                <li><a href="/">ОБРАТНАЯ СВЯЗЬ</a></li>
            </ul>
            <div class="left-menu-share">
                <div class="text">
                    Следите за новостями проекта
                    в социальных сетях
                </div>
                <div class="icons">
                    <div class="share-icons">
                        <a href="/">
                            <img src="img/notification/fb.svg" alt="fb">
                        </a>
                        <a href="/">
                            <img src="img/notification/vk.svg" alt="vk">
                        </a>
                        <a href="/">
                            <img src="img/notification/ok.svg" alt="ok">
                        </a>
                        <a href="/">
                            <img src="img/notification/elitsy.svg" alt="gmail">
                        </a>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<body>