<div class="enter-soc">
    <a href="/">
        <img src="img/notification/vk.svg" alt="vk">
    </a>
    <a href="/">
        <img src="img/notification/fb.svg" alt="fb">
    </a>
    <a href="/">
        <img src="img/notification/ok.svg" alt="ok">
    </a>
    <a href="/">
        <img src="img/notification/gmail.svg" alt="gmail">
    </a>
    <a href="/">
        <img src="img/notification/email_1.svg" alt="email">
    </a>

</div>