<div class="notification-way">
    <div class="row">
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/email.svg" alt="email">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="e-mail">
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/vk.svg" alt="vk">
                </div>
                <div class="text">
                    вконтакте
                </div>
                <div class="switch _on">
                    <div class="circle _on"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/fb.svg" alt="fb">
                </div>
                <div class="text">
                    Facebook
                </div>
                <div class="switch _on">
                    <div class="circle _on"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/ok.svg" alt="ok">
                </div>
                <div class="text">
                    Одноклассники
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/viber.svg" alt="viber">
                </div>
                <div class="text">
                    Viber
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/whatsapp.svg" alt="whatsApp">
                </div>
                <div class="text">
                    WhatsApp
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/telegram.svg" alt="telegram">
                </div>
                <div class="text">
                    telegram
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="way">
                <div class="icon">
                    <img src="img/notification/push.svg" alt="push">
                </div>
                <div class="text">
                    PUSH-уведомления
                </div>
                <div class="switch _off">
                    <div class="circle _off"></div>
                </div>
            </div>
        </div>
    </div>
</div>