.name-not-found
  text-align: center
  margin-bottom: 35px
  & > .title
    @include  title($PTSans, 27px, bold, normal, $color4, 30px, null)
    text-transform: none
  & > .text
    @include text($PTSans, 18px, normal, $color4, 23px, null)
    padding: 0 50px