<div class="block description">
    <div class="description-profile">
        <div class="wrapp-icon">
            <div class="icon">
                <img src="img/block/ellips.svg" />
            </div>
        </div>
        <div class="title">
            <span>Матрона
            московская</span>
        </div>
        <div class="main-dates">
            <div class="dates">
                <a href="/" class="date _date-description">
                    6 декабря
                </a>
                <a href="/" class="date _date-check">
                    9 мая
                </a>
                <a href="/" class="date">
                    15 июля
                </a>
            </div>
        </div>
        <div class="text">
            Матрона Московская, урождённая Матрона
            Дмитриевна Никонова (22 ноября 1881 года —
            2 мая 1952) — святая Русской Православной
            Церкви.
            <br/>
            Село Себино Тульской области,
            где родилась блаженная Матрона. Матрона
            Дмитриевна Никонова. 1881г. — 2 мая 1952 г.
            Село Себино Тульской области, где родилась
            блаженная Матрона. Матрона Дмитриевна
            Никонова. 1881г. — 2 мая 1952 г.
            <br/>
            Матрона Дмитриевна Никонова родилась
            в 1881 году в селе Себино Епифанского уезда
            (ныне Кимовского района) Тульской губернии,
            она была четвёртым ребёнком в семье.
            Согласно житию святой Матроны, родители,
            Наталья и Дмитрий Никоновы, сначала хотели
            оставить слепую дочь
            в приюте, но мать
            передумала после того, как ей приснился
            необыкновенный сон: белая птица необычайной
            красоты, но слепая, села на её груди.
        </div>
        <div class="wrap-btn">
            <button class="btn-gold" style="margin: 20px">ПОДАТЬ ЗАПИСКУ</button>
            <button style="margin: 20px">ЗАПОМНИТЬ ПРАЗДНИК</button>
        </div>
    </div>
</div>