<div class="block description">
    <div class="description-profile">
        <div class="wrapp-icon">
            <div class="icon">
                <img src="img/block/ellips.svg" />
            </div>
        </div>
        <a href="/" class="title">
            <span>Матрона
            московская</span>
        </a>
        <div class="calendar-content ">
            <div class="header">
                <div class="wrap _wrap-description">
                    <div class="date">
                        <span class="month"> 25 СЕНТЯБРЬ</span>
                        <span class="year">2019</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
            Матрона Московская, урождённая Матрона
            Дмитриевна Никонова (22 ноября 1881 года —
            2 мая 1952) — святая Русской Православной
            Церкви.
            <br/>
            Село Себино Тульской области,
            где родилась блаженная Матрона. Матрона
            Дмитриевна Никонова. 1881г. — 2 мая 1952 г.
            Село Себино Тульской области, где родилась
            блаженная Матрона. Матрона Дмитриевна
            Никонова. 1881г. — 2 мая 1952 г.
            <br/>
            Матрона Дмитриевна Никонова родилась
            в 1881 году в селе Себино Епифанского уезда
            (ныне Кимовского района) Тульской губернии,
            она была четвёртым ребёнком в семье.
            Согласно житию святой Матроны, родители,
            Наталья и Дмитрий Никоновы, сначала хотели
            оставить слепую дочь
            в приюте, но мать
            передумала после того, как ей приснился
            необыкновенный сон: белая птица необычайной
            красоты, но слепая, села на её груди.
        </div>
        <div class="wrap-btn">
            <a class="btn-gold" style="margin: 20px">ПОДАТЬ ЗАПИСКУ</a>
            <a style="margin: 20px">ЗАПОМНИТЬ ПРАЗДНИК</a>
        </div>
    </div>
</div>