<div class="donations-wrapp">
    <div class="donations">
        <div class="content">
            <div class="left">
                <div class="text">
                    Рекомендованный размер
                   <br/>пожертвования:
                </div>
            </div>
            <div class="right">
                <div class="price">
                    <span>350</span> ₽
                </div>
            </div>
        </div>
    </div>
</div>