<div class="block note">
    <div class="header">
        <div class="title">
            Записки о здравии
        </div>
        <div class="wrapp-note-input">
            <div class="input-container _error">
                <select name="Выберите тип записки" >
                    <option value="Записка 1">ВЫБЕРИТЕ ТИП ЗАПИСКИ</option>
                    <option value="Записка 1">Записка 1</option>
                    <option value="Записка 2">Записка 2</option>
                </select>
                <div class="error _open">
                    Не выбран тип записки
                </div>
            </div>
        </div>
        <div class="wrapp-note-profile">
            <a class="profile">
                <div class="icon">
                    <img src="img/block/ellips.svg" alt="photo"/>
                </div>
                <div class="name">
                    НИКОЛАЙ ЧУДОТВОРЕЦ
                </div>
            </a>
        </div>
    </div>

    <div class="list-names">
        <div class="name">
            <input type="text" value="Анастасия">
        </div>
        <div class="name">
            <input type="text" value="Анна">
        </div>
        <div class="name _gray-value">
            <input type="text" placeholder="Вы не выбрали">
        </div>
        <div class="name _gray-value">
            <input type="text" placeholder="Вы не выбрали">
        </div>
    </div>
    <div class="text-info">
        Данная записка отправляется в определенный
        храм к определенному святому.
        Без возможности изменения этих данных
    </div>
    <div class="note-price">
        <div class="text">
            Рекомендованный размер
            пожертвования:
        </div>
        <div class="price">
            <span>350</span> ₽.
        </div>
    </div>
</div>