<div class="block note-history ">
    <div class="header _health">
        <img src="img/block/check_white.png" alt="ok">
        <div class="title">
            Записки о здравии
        </div>
    </div>
    <a href="page-7.html" class="profile">
        <div class="icon">
            <img src="img/block/ellips.svg" />
        </div>
        <div class="name">
            <div>Матрона Московская</div>
        </div>
    </a>
    <div class="names">
        <div>
            <a href="/">Николай</a></div>
        <div><a href="/">Константин</a></div>
        <div><a href="/">Александр</a></div>
        <div><a href="/">Николай</a></div>
    </div>
    <div class="wrap-btn _btn-s" >
        <button>СКАЧАТЬ СЕРТИФИКАТ</button>
    </div>
    <div class="footer-info">
        <div class="time">Отправлена <span>20.12.2019 в 14:45</span></div>
        <div class="price"><span>350</span> ₽</div>
    </div>
</div>