<a href="page-7.html" class="block _sv">
    <div class="profile _sv">
        <div class="icon">
            <img src="img/block/ellips.svg" />
        </div>
        <div class="name">
            свщм. Евгений Антиохийский,
            Мавританский, пресвит.
            свщм. Евгений Антиохийский,
            Мавританский, пресвит.
        </div>
    </div>
</a>