<div class="block _search">
    <div class="text">
        С помощью нашего сервиса,
        <span>
        Вы можете
        узнать, когда именины Ваших друзей
        и родных, а также подобрать имя для
        новорождённого
        </span>
        в соответствии
        с Православным календарём
    </div>
    <div class="wrap-btn btn-blue">
        <button>
            поиск по святцам
        </button>
    </div>
</div>