<div class="block block-sv">
    <div class="title-sv">
        Святцы
    </div>
    <div class="text">
        С помощью нашего сервиса, Вы можете
        узнать, когда именины Ваших друзей
        и родных, а также подобрать имя для
        новорождённого в соответствии
        с Православным календарём
    </div>
    <div class="container">
        <div class="input-wrapp-block-sv">
            <div class="row">
                <div class="col">
                    <div class="input-container">
                        <input type="text" placeholder="Информация">
                    </div>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input placeholder="ПОИСК ПО ДАТЕ"
                               type="text"
                               onfocus="(this.type='date')">
                        <img class="input-date" src="img/date_icon_mini.svg" alt="дата">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-sv-wrapp-name">
            <div class="title">
                <span>Популярные</span> имена
            </div>
            <div class="row">
                <div class="col">
                    <div class="block-name">
                        <div class="first">
                            <div>
                                <a href="/">
                                    Николай
                                </a>
                            </div>
                            <div><a href="/">
                                Константин
                            </a></div>
                        </div>
                        <div class="second">
                            <div><a href="/">
                                Константин
                            </a></div>
                            <div><a href="/">
                                Константин
                            </a></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="block-name">
                        <div class="first">
                            <div><a href="/">
                                Константин
                            </a></div>
                            <div><a href="/">
                                Константин
                            </a></div>
                        </div>
                        <div class="second">
                            <div><a href="/">
                                Константин
                            </a></div>
                            <div><a href="/">
                                Константин
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>