<div class="block _sv mailing">
    <div class="left">
        <div class="title">
            <span>подпишись </span>
            <br/>на нашу рассылку
        </div>
        <div class="text">
            Описательный абзац о плюшках,
            которые дает рассылка
        </div>
    </div>
    <div class="right">
        <div class="wrap-btn">
            <button>
                Оформить подписку
            </button>
        </div>
    </div>
</div>