<div class="block _sv mailing mailing-and-input">
    <div class="left">
        <div class="title">
            <span>подпишись </span>
            <br/>на нашу рассылку
        </div>
        <div class="text"  style="text-align: center">
            Описательный абзац о плюшках,
            которые дает рассылка
        </div>
        <div class="mailing-and-input-container">
            <div class="input-container">
                <input type="text" placeholder="Ваше ИМЯ">
            </div>
            <div class="input-container">
                <input type="text" placeholder="E-MAIL">
            </div>
        </div>
    </div>
    <div class="right">
        <div class="wrap-btn">
            <button>
                Оформить подписку
            </button>
        </div>
    </div>
</div>