<div class="left-menu _close">
    <div class="content">
        <div class="close" id="close-left-menu">
            <div></div>
        </div>
        <div class="icon">
            <a href="#">
                <img src="img/header/icon.svg" alt="Ельцы">
            </a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Именины</a></li>
                <li><a href="/">ПРАЗДНИКИ</a></li>
                <li><a href="/">история ЗАПИСок</a></li>
                <!--<li style="margin-bottom: 100px">-->
                <li style="margin-bottom: 30px">
                    <a href="/">СОБЫТИЯ</a> <span>15</span></li>
                <li><a href="/">О ПРОЕКТЕ</a></li>
                <li><a href="/">ОБРАТНАЯ СВЯЗЬ</a></li>
            </ul>
            <div class="left-menu-share">
                <div class="text">
                    Следите за новостями проекта
                    в социальных сетях
                </div>
                <div class="icons">
                    <div class="share-icons">
                        <a href="/">
                            <img src="img/notification/fb.svg" alt="fb">
                        </a>
                        <a href="/">
                            <img src="img/notification/vk.svg" alt="vk">
                        </a>
                        <a href="/">
                            <img src="img/notification/ok.svg" alt="ok">
                        </a>
                        <a href="/">
                            <img src="img/notification/elitsy.svg" alt="gmail">
                        </a>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>