<div class="payment-wrapp">
    <div class="payment">
        <div class="header-title">
            КОНТАКТНЫЕ ДАННЫЕ
            и способ оплаты
        </div>
        <div class="wrapp-payment-input">
            <div class="row">
                <div class="col">
                    <div class="input-container _error">
                        <input type="text" placeholder="Ваше имя">
                        <div class="error _open">
                            Введите имя
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container">
                        <input type="text" value="tinyakov@mail.net">
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-methods">
            <div class="methods">
                <div class="method">
                    <label class="container-label">
                        <div class="text">Онлайн-оплата банковской картой
                            (<span>МИР, VISA, MasterCard </span>и другие)</div>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="method">
                    <label class="container-label">
                        <div class="text">
                            Платежная система <span>PayPal</span>
                        </div>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="method">
                    <label class="container-label">
                        <div class="text">Другая платежная система</div>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="offer-wrapp">
            <div class="offer">
                <label class="container-label">
                    <div class="text">Я принимаю условия Договора оферты</div>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</div>