<footer>
    <div class="footer _footer-bg">
        <div class="footer-block _left _bg-blue-1">
            <div class="pos">
                <a href="/">Меню</a>
            </div>
        </div>
        <a href="#" class="icon">
            <div></div>
        </a>
        <div class="footer-block _right _bg-gold">
            <div class="pos">
                <!--<span>запомнить этот день</span>-->
                <a href="/">найти</a>
            </div>
        </div>
    </div>
</footer>

