<header>
    <div class="header">
        <div  class="login" id="menu"></div>
        <a href="#">
            <img src="img/header/icon.svg" alt="Ельцы">
        </a>
        <a href="#" class="search"></a>
    </div>
</header>
