<div class="block block-sv">
    <div class="container">
        <div class="block-sv-wrapp-name">
            <div class="row">
                <div class="col">
                    <div class="block-name">
                        <div class="first">
                            <div>
                                <a href="/">Николай</a>
                            </div>
                            <div>
                                <a href="/">Константин</a>
                            </div>
                        </div>
                        <div class="second">
                            <div>
                                <a href="/">Александр</a>
                            </div>
                            <div>
                                <a href="/">Николай</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="block-name">
                        <div class="first">
                            <div>
                                <a href="/">Анастасия</a>
                            </div>
                            <div>
                                <a href="/">Анна</a>
                            </div>
                        </div>
                        <div class="second">
                            <div>
                                <a href="/">Светлана</a>
                            </div>
                            <div>
                                <a href="/">Елена</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>