<div class="holiday">
    <a href="/" class="left">
        <div class="text">
            <div class="num">24</div>
            <div class="month">сентября</div>
        </div>
    </a>
    <a href="page-7.html" class="right">
        <div class="text">
            День памяти Князя ВладимираВладимира
            День памяти Князя ВладимираВладимира
            День памяти Князя ВладимираВладимираДень памяти Князя ВладимираВладимира
        </div>
    </a>
</div>