<a href="/" class="link-block">
    <div class="block _sv _block-in-calendar">
        <div class="number">18</div>
        <div class="profile _sv">
            <div class="icon">
                <img src="img/block/ellips.svg"/>
            </div>
            <div class="name">
                Матрона
                Московская
            </div>
        </div>
        <div class="info">
            <div class="text _sv">
                Специально для Вас мы собрали информацию о самых значимых православных праздниках
            </div>
        </div>
    </div>
</a>