<div class="header">
    <div class="wrap">
        <div class="arrow _left" ></div>
        <div class="date" id="pickDate">
            <input id="hiddenDate" type="hidden" />
            <span class="month">СЕНТЯБРЬ</span>
            <span class="year">2019</span>
        </div>
        <div class="arrow _right"></div>
    </div>
</div>