<div class="calendar">
    <div class="row">
        <div class="day">пн</div>
        <div class="day">вт</div>
        <div class="day">ср</div>
        <div class="day">чт</div>
        <div class="day">пт</div>
        <div class="day">сб</div>
        <div class="day">вс</div>
    </div>
    <div class="row">
        <div class="month _other-month">26</div>
        <div class="month _other-month">27</div>
        <div class="month _other-month">28</div>
        <div class="month _other-month">29</div>
        <div class="month _other-month">30</div>
        <div class="month _other-month">31</div>
        <div class="month">1</div>
    </div>
    <div class="row">
        <div class="month">2</div>
        <div class="month">3</div>
        <div class="month">4</div>
        <div class="month">5</div>
        <div class="month">6</div>
        <div class="month">7</div>
        <div class="month">8</div>
    </div>
    <div class="row">
        <div class="month">9</div>
        <div class="month">10</div>
        <div class="month">11</div>
        <div class="month">12</div>
        <div class="month">13</div>
        <div class="month">14</div>
        <div class="month">15</div>
    </div>
    <div class="row">
        <div class="month">16</div>
        <div class="month _today">17</div>
        <div class="month">18</div>
        <div class="month">19</div>
        <div class="month _choice">20</div>
        <div class="month">21</div>
        <div class="month">22</div>
    </div>
    <div class="row">
        <div class="month">23</div>
        <div class="month">24</div>
        <div class="month">25</div>
        <div class="month">26</div>
        <div class="month">27</div>
        <div class="month">28</div>
        <div class="month">29</div>
    </div>
    <div class="row">
        <div class="month _holiday">30</div>
        <div class="month">31</div>
        <div class="month _other-month">1</div>
        <div class="month _other-month">2</div>
        <div class="month _other-month">3</div>
        <div class="month _other-month">4</div>
        <div class="month _other-month">5</div>
    </div>
</div>

