<div class="share-wrapper">
    <div class="share">
        <div class="text">
            Мы будем благодарны, если Вы расскажете о нашем
            проекте своим друзьям
        </div>
        <div class="icons">
            <div class="share-icons">
                <a href="/">
                    <img src="img/notification/fb.svg" alt="fb">
                </a>
                <a href="/">
                    <img src="img/notification/vk.svg" alt="vk">
                </a>
                <a href="/">
                    <img src="img/notification/ok.svg" alt="ok">
                </a>
                <a href="/">
                    <img src="img/notification/elitsy.svg" alt="gmail">
                </a>

            </div>
        </div>
    </div>
</div>