<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">
    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>
        <div style="display: flex; flex-direction: column">
            <a href="page-1.html">Главная не авторизован</a>
            <a href="page-2.html">Святцы не авторизован</a>
            <a href="page-3.html">Святцы-выдача-имя</a>
            <a href="page-4.html">Святцы-выдача-дата</a>
            <a href="page-5.html">Святцы-выдача-не найдено</a>
            <a href="page-6.html">Список Праздников</a>
            <a href="page-7.html">Страница праздника/Святого</a>
            <a href="page-8.html">Страница имени</a>
            <a href="page-9.html">Записка о здравии</a>
            <a href="page-10.html">Записка об упокоении</a>
            <a href="page-11.html">Меню</a>
            <a href="page-12.html">Логин</a>
            <a href="page-13.html">Регистрация</a>
            <a href="page-14.html">Запомнить день </a>
            <a href="page-15.html">Запомнить именины </a>
            <a href="page-16.html">Запомнить праздники </a>
            <a href="page-17.html">Уведомления </a>
            <a href="page-18.html">Уведомления-праздники</a>
            <a href="page-19.html">Уведомления-именины </a>
            <a href="page-20.html">Уведомления-день </a>
            <a href="page-21.html">Модалка выбора записки</a>
            <a href="page-22.html">Профайл с настройками  </a>
            <a href="page-23.html">Текстовая страница  </a>
            <a href="page-24.html">История записок</a>
            <a href="page-25.html">События пользователя </a>
            <a href="page-26.html">Меню</a>
            <a href="page-27.html">DatePicker</a>
            <a href="page-28.html">Уведомления день (очень длинная модалка)</a>
        </div>

    </div>

</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>