<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            <%= _.template(require('./../includes/note/note-health.html').default)(data) %>
        </div>

        <div class="container _mr">
            <label class="container-label">Получать уведомления на почту
                о статусе Записки
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container-label">Хочу получить на почту индивидуальный
                Сертификат о подаче записок
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container-label">Хочу получать на свою почту
                информационную рассылку социальной
                сети Елицы
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/payment/payment.html').default)(data) %>
        </div>

    </div>

</div>

<div class="order-wrapp">
    <div class="order">
        <div class="wrap-btn btn-gray">
            <button >ЗАКАЗАТЬ МОЛЕБЕН</button>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
