<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content event">
        <%= _.template(require('./../includes/header.html').default)(data) %>
        <div class="title-sv title-ln" >
            СОБЫТИЯ
        </div>
        <div class="wrapp-service-message">
            <div class="service-message">
                Пока нет пользовательских событий
            </div>
        </div>
        <div class="container _mr">
            <div class="row">
                <div class="col">
                    <a href="/" class="block _sv">
                        <div class="date">18.04</div>
                        <div class="profile _sv">
                            <div class="icon">
                                <img src="img/block/ellips.svg" />
                            </div>
                            <div class="name">
                                <div>Матрона</div>
                                <div>Московская</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/" class="block _sv">
                        <div class="date">18.04</div>
                        <div class="profile _sv">
                            <div class="icon">
                                <img src="img/block/ellips.svg" />
                            </div>
                            <div class="name">
                                <div>Матрона</div>
                                <div>Московская</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="holiday">
                        <div class="date">18.04</div>
                        <div class="left">
                            <a href="/" class="text">
                                <div class="num">24</div>
                                <div class="month">сентября</div>
                            </a>
                        </div>
                        <div class="right">
                            <a href="/" class="text">
                                <div>День памяти</div>
                                <div>Князя Владимира</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="holiday">
                        <div class="date">18.04</div>
                        <div class="left">
                            <a href="/" class="text">
                                <div class="num">24</div>
                                <div class="month">сентября</div>
                            </a>
                        </div>
                        <div class="right">
                            <a href="/" class="text">
                                <div>День памяти</div>
                                <div>Князя Владимира</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="save-holidays">
    <div class="save">
        <div class="wrap-btn">
            <button>ЗАПОМНИТЬ ВСЕ ПРАЗДНИКИ</button>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>