<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления-день
    </div>
</div>

<div class="modal _close note-send">
    <div class="content">
        <div class="title-sv title-ln" style="margin-bottom: 5px">
            ВЫ ЗАПОМНИЛИ
            <br/>день
        </div>
        <div class="day">
            20 декабря
        </div>
        <div class="text _text-footer">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>

        <div class="close" id="close-modal">
            <div></div>
        </div>

    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
