<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления
    </div>
</div>

<div class="modal note-send _close">
    <div class="content">

        <div class="title-sv title-ln">
            Записка <br/>отправлена
        </div>
        <div class="text">
            Ваша записка успешно отправлена
            в Храм. Спасибо за ваше пожертвование.

            <br/><br/>Хотите запомнить праздник или именины
        </div>

        <div class="block _sv" style="padding: 20px 10px 0">
            <img src="img/block/check.png" alt="ok">
            <div class="profile _sv">
                <div class="icon">
                    <img src="img/block/ellips.svg" />
                </div>
                <div class="name">
                    <div>Матрона</div>
                    <div>Московская</div>
                </div>
            </div>
        </div>
        <div class="wrap-btn" style="margin: 30px 0 50px 0">
            <button>
                ЗАПОМНИТЬ
            </button>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

