<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления-именины
    </div>
</div>

<div class="modal _close note-send">
    <div class="content">
        <div class="title-sv title-ln">
            ВЫ ЗАПОМНИЛИ
            <br/>ПРАЗДНИК
        </div>
        <div class="text">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>
        <div class="block _sv"  style="padding: 20px 10px 0">
            <div class="date">18.04</div>
            <div class="profile _sv">
                <div class="icon">
                    <img src="img/block/ellips.svg" />
                </div>
                <a href="page-7.html" class="name">
                    <div>Матрона</div>
                    <div>Московская</div>
                </a>
            </div>
        </div>
        <div class="text _text-footer">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>
        <div class="wrap-btn" style="margin: 30px 0 50px 0">
            <button>
                ЗАПОМНИТЬ
            </button>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>

    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
