<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            Логин
        </div>

        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing-and-input.html').default)(data) %>
        </div>

    </div>
</div>
<div class="modal _close">
    <div class="content">
        <div class="title-sv" style="font-size: 27px; margin-bottom: 0">
            ЗАПОМНИТЬ
        </div>
        <div class="date">
            20 декабря
        </div>
        <div class="inputs">
            <div class="input-container">
                <textarea style="height: 220px" placeholder="Ваш комментарий"></textarea>
            </div>
        </div>
        <div class="wrap-btn">
            <button>
                Запомнить день
            </button>
        </div>

        <div class="modal-not-methods">
            <div class="cabinet-notif">
                <div class="title">
                    <span>СПОСОБЫ </span>УВЕДОМЛЕНИЯ
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="notification-way">
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/email.svg" alt="email">
                        </div>
                        <div class="input-container">
                            <input type="text" placeholder="e-mail">
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/push.svg" alt="push">
                        </div>
                        <div class="text">
                            PUSH-уведомления
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="wrap-btn">
                     <button>ВОЙТИ НА САЙТ</button>
                </div>
            </div>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>
    </div>
</div>



<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>