<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            <div class="block description _project">
                <div class="description-profile">
                    <div class="title">
                        <span>
                          О ПРОЕКТЕ
                        </span>
                    </div>
                    <div class="text">
                        Матрона Московская, урождённая Матрона
                        Дмитриевна Никонова (22 ноября 1881 года —
                        2 мая 1952) — святая Русской Православной
                        Церкви.
                        <br/>
                        Село Себино Тульской области,
                        где родилась блаженная Матрона. Матрона
                        Дмитриевна Никонова. 1881г. — 2 мая 1952 г.
                        Село Себино Тульской области, где родилась
                        блаженная Матрона. Матрона Дмитриевна
                        Никонова. 1881г. — 2 мая 1952 г.
                        <br/>
                        Матрона Дмитриевна Никонова родилась
                        в 1881 году в селе Себино Епифанского уезда
                        (ныне Кимовского района) Тульской губернии,
                        она была четвёртым ребёнком в семье.
                        Согласно житию святой Матроны, родители,
                        Наталья и Дмитрий Никоновы, сначала хотели
                        оставить слепую дочь
                        в приюте, но мать
                        передумала после того, как ей приснился
                        необыкновенный сон: белая птица необычайной
                        красоты, но слепая, села на её груди.
                    </div>
                </div>
                <div class="wrap-btn">
                    <button>ПРИСОЕДЕНИТЬСЯ К ПРОЕКТУ</button>
                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>