<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления-день
    </div>
</div>

<div class="modal _close">
    <div class="content">
        <div class="title-sv title-ln" style="margin-bottom: 5px">
            выбор
            <br/>записки
        </div>

        <div class="text _text-footer">
            Какой-то текст на пару абзацев про выбор
            вида записки. О здравии или об упокоении.
        </div>
        <div class="wrap-btn">
            <button>ЗАПИСКА О ЗДРАВИИ </button>
        </div>
        <div class="wrap-btn btn-blue">
            <button>ЗАПИСКА ОБ УПОКОЕНИИ</button>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>

    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
