<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            <%= _.template(require('./../includes/description/description.html').default)(data) %>
        </div>

        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing-and-input.html').default)(data) %>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>