<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">
    <div class="content">
        
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            <div class="calendar-content">
                <%= _.template(require('./../includes/calendar/calendar-header-view.html').default)(data) %>
                <div class="row">
                    <div class="col">
                        <%= _.template(require('./../includes/calendar/calendar-view.html').default)(data) %>
                    </div>

                    <div class="col">
                        <a href="">
                            <%= _.template(require('./../includes/block/block-view.html').default)(data) %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container _mr">
            <div class="title"><span>БЛИЖАЙШИЕ</span> ПРАЗДНИКИ</div>
            <div class="row">
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
            </div>
            <div class="wrap-btn">
                <button>
                    ВСЕ ПРАЗДНИКИ
                </button>
            </div>
        </div>
        <div class="container _mr">
            <div class="title"><span>Именнины</span> сегодня</div>
            <div class="row">
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>
                </div>
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>
                </div>
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>
                </div>
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>
                </div>
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>
                </div>
                <div class="col ">
                    <%= _.template(require('./../includes/block-1/search.html').default)(data) %>
                </div>
                <!--<div class="col _right">-->
                <!--<%= _.template(require('./../includes/block-1/block-view.html').default)(data) %>-->
                <!--</div>-->
            </div>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>

        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/share/share-1.html').default)(data) %>
        </div>


    </div>


</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>