<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <!--<div class="content">-->
        <!--<%= _.template(require('./../includes/header.html').default)(data) %>-->

        <!--<div class="title-sv title-ln" >-->
            <!--Запомнить праздники-->
        <!--</div>-->
        <!--<div class="container _mr">-->
            <!--<div class="notification">-->
                <!--<div class="text">-->
                    <!--Вы будете получать информацию обо всех праздниках, которые есть в нашем сервисе-->
                <!--</div>-->
                <!--<div class="notification-way">-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<div class="way">-->
                                <!--<div class="icon">-->
                                    <!--<img src="img/notification/email.svg" alt="email">-->
                                <!--</div>-->
                                <!--<div class="input-container">-->
                                    <!--<input type="text" placeholder="e-mail">-->
                                <!--</div>-->
                                <!--<div class="switch _off">-->
                                    <!--<div class="circle _off"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                            <!--<div class="way">-->
                                <!--<div class="icon">-->
                                    <!--<img src="img/notification/push.svg" alt="push">-->
                                <!--</div>-->
                                <!--<div class="text">-->
                                    <!--PUSH-уведомления-->
                                <!--</div>-->
                                <!--<div class="switch _off">-->
                                    <!--<div class="circle _off"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
</div>
<div class="modal _close">
    <div class="content">
        <div class="title-sv title-ln" style="font-size: 27px; margin-bottom: 0">
            ЗАПОМНИТЬ
            <br/> праздники
        </div>
        <div class="wrap-btn">
            <button>
                Запомнить праздники
            </button>
        </div>

        <div class="modal-not-methods">
            <div class="cabinet-notif">
                <div class="title">
                    <span>СПОСОБЫ </span>УВЕДОМЛЕНИЯ
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="notification-way">
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/email.svg" alt="email">
                        </div>
                        <div class="input-container">
                            <input type="text" placeholder="e-mail">
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/push.svg" alt="push">
                        </div>
                        <div class="text">
                            PUSH-уведомления
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="wrap-btn">
                    <button>ВОЙТИ НА САЙТ</button>
                </div>
            </div>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

