<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            Логин
        </div>

        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing-and-input.html').default)(data) %>
        </div>

    </div>
</div>
<div class="modal _close">
    <div class="content">
        <div class="title-sv">
            Вход
        </div>
        <div class="inputs">
            <div class="input-container _error">
                <input type="text" placeholder="Логин">
                <div class="error _open">
                    Такой e-mail не зарегистрирован
                </div>
            </div>
            <div class="input-container _error">
                <input type="text" placeholder=Пароль">
                <div class="error _open">
                    Не верный пароль
                </div>
            </div>
        </div>
        <div class="modal-soc">
            <div class="icons">
                <%= _.template(require('./../includes/enter-soc/enter-soc.html').default)(data) %>
            </div>
        </div>
        <div class="text">
            Описательный абзац о плюшках, которые
            дает регистрация, пару абзацев,
            но не более.
        </div>
        <div class="wrap-btn">
            <button>
                Вход
            </button>
            <!--<button class="reg-btn">-->
                <!--ЗАРЕГИСТРИРОВАТЬСЯ-->
            <!--</button>-->
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>