<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>
        <div class="title-sv title-ln" >
            ИСТОРИЯ МОИХ
            <br/>ЗАПИСОК
        </div>
        <div class="wrapp-service-message">
            <div class="service-message">
                Пусто здесь
            </div>
        </div>
        <div class="container _mr">
            <div class="row">
                <div class="col">
                    <%= _.template(require('./../includes/note-history/note-health.html').default)(data) %>
                </div>
                <div class="col">
                    <%= _.template(require('./../includes/note-history/note-repose.html').default)(data) %>
                </div>
            </div>
        </div>
    </div>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
