<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления-день
    </div>
</div>

<div class="modal _close note-send">
    <div class="content" style="margin-bottom: 10%">
        <div class="title-sv title-ln" style="margin-bottom: 5px">
            ВЫ ЗАПОМНИЛИ
            <br/>день
        </div>
        <div class="day">
            20 декабря
        </div>
        <div class="text _text-footer">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>
        <div class="text _text-footer" style="padding: 0 15px; margin-bottom: 10px">
            В этот день мы празднуем следующие события:
        </div>
        <div class="block _sv" style="padding: 20px 10px 0">
            <img src="img/block/check.png" alt="ok">
            <div class="profile _sv">
                <div class="icon">
                    <img src="img/block/ellips.svg" />
                </div>
                <div class="name">
                    <div>Матрона</div>
                    <div>Московская</div>
                </div>
            </div>
        </div>
        <div class="block _sv" style="padding: 20px 10px 0">
            <img src="img/block/check.png" alt="ok">
            <div class="profile _sv">
                <div class="icon">
                    <img src="img/block/ellips.svg" />
                </div>
                <div class="name">
                    <div>Матрона</div>
                    <div>Московская</div>
                </div>
            </div>
        </div>
        <div class="modal-not-methods" style="border: none; margin: 0">
            <label class="container-label">Запомнить все праздники
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <div class="text _text-footer" style="text-align: center">
                Именины в этот день празднуют люди,
                крещёные под именами:
            </div>

            <div class="name-choice">
                <div class="item">
                    <div class="icon">
                        <img src="img/block/check.png" alt="ok">
                    </div>
                    <a href="#">Николай</a>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="img/block/check.png" alt="ok">
                    </div>
                    <a href="#">Николай</a>
                </div>
            </div>
            <div class="text _text-footer" style="text-align: center">
                Если вы хотите не пропустить другие
                дни именин, отметьте нужные вам имена
            </div>
            <div class="wrap-btn">
                <button>ЗАПОМНИТЬ ВЫБРАННОЕ</button>
            </div>
        </div>
        <div class="modal-not-methods" style="padding-bottom: 50px">
            <div class="cabinet-notif">
                <div class="title">
                    <span>СПОСОБЫ </span>УВЕДОМЛЕНИЯ
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="notification-way">
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/email.svg" alt="email">
                        </div>
                        <div class="input-container">
                            <input type="text" placeholder="e-mail">
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                    <div class="way">
                        <div class="icon">
                            <img src="img/notification/push.svg" alt="push">
                        </div>
                        <div class="text">
                            PUSH-уведомления
                        </div>
                        <div class="switch _off">
                            <div class="circle _off"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-not-methods-text">
                    Мы будем благодарны, если Вы расскажете
                    о нашем проекте своим друзьям
                </div>
                <div class="wrap-btn">
                    <button>ВОЙТИ НА САЙТ</button>
                </div>
            </div>
        </div>
        <div class="close" id="close-modal">
            <div></div>
        </div>

    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
