<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<footer>
    <div class="footer _footer-bg" style="top: 50px;">
        <a href="/" class="footer-block _left">
            <div class="pos">
                <span>Нет,  спасибо</span>
            </div>
        </a>
        <a href="#" class="icon">
            <div></div>
        </a>
        <a href="/" class="footer-block _right _bg-color-1">
            <div class="pos">
                <!--<span>запомнить этот день</span>-->
                <span>Запомнить</span>
            </div>
        </a>
    </div>

</footer>
<footer>
    <div class="footer _footer-bg" style="top: 200px;">
        <a href="/" class="footer-block _left">
            <div class="pos">
                <span>Меню</span>
            </div>
        </a>
        <a href="#" class="icon">
            <div></div>
        </a>
        <a href="/" class="footer-block _right _bg-color-2">
            <div class="pos">
                <!--<span>запомнить этот день</span>-->
                <span>Заказать молебен</span>
            </div>
        </a>
    </div>
</footer>
<footer>
    <div class="footer _footer-bg" style="top: 350px;">
        <a href="/" class="footer-block _left ">
            <div class="pos">
                <span>Меню</span>
            </div>
        </a>
        <a href="#" class="icon">
            <div></div>
        </a>
        <a href="/" class="footer-block _right _bg-color-3">
            <div class="pos">
                <!--<span>запомнить этот день</span>-->
                <span>Подать записку</span>
            </div>
        </a>
    </div>
</footer>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

