<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>
        <div class="container _mr">
            <div class="calendar-result-name">
                <div class="title-sv">
                    Святцы
                </div>
                <div class="container">
                    <div class="input-wrapp-block-sv">
                        <div class="row">
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" placeholder="Николай">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-container">
                                    <input placeholder="ПОИСК ПО ДАТЕ"
                                           type="text"
                                           onfocus="(this.type='date')">
                                    <img class="input-date" src="img/date_icon_mini.svg" alt="дата">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= _.template(require('./../includes/name-not-found/name-not-found.html').default)(data) %>
            </div>
            <%= _.template(require('./../includes/name-not-found/block-name-not-found/block.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing-and-input.html').default)(data) %>
        </div>
    </div>

</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>