<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="container _mr">
            <div class="block cabinet">
                <div class="title">
                        <span>
                            Личный кабинет
                        </span>
                </div>

                <div class="container _mr">
                    <div class="cabinet-input-name">
                        <div class="row">
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" placeholder="Дмитрий">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-container ">
                                    <input type="text" placeholder="Тиняков">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container _mr">
                    <div class="cabinet-input-password">
                        <div class="title">
                            <span>настройки</span> пароля
                        </div>
                        <div class="container _mr">
                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <input type="text" placeholder="TINYAKOV@MAIL.COM">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container">
                                        <input type="text" placeholder="Введите пароль">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container">
                                        <input type="text" placeholder="Придумайте новый пароль">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container return-password">
                                        <input type="text" placeholder="Повторите новый пароль">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-btn _save-password" >
                        <button>СОХРАНИТЬ ПАРОЛЬ</button>
                    </div>
                </div>
                <div class="container">
                    <div class="cabinet-notif">
                        <div class="title">
                            <span>НАстройка </span> уведомлений
                        </div>
                        <%= _.template(require('./../includes/notification/notification.html').default)(data) %>
                    </div>
                </div>
                <div class="cabinet-footer">
                    <div class="title">
                        За сколько дней уведомлять вас о событии?
                    </div>
                    <div class="input-container">
                        <select>
                            <option value="">За 1 день </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>