<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">
    <div class="content" style="padding-top: 50px">
        <div style="position: absolute">
        <div class="datepicker">
            <div class="list-year">
                <div class="scroll">
                    <div class="now">2019</div>
                    <div>2020</div>
                    <div>2020</div>
                    <div>2020</div>
                    <div>2020</div>
                    <div>2020</div>
                    <div>2020</div>
                    <div>2020</div>
                </div>
            </div>
            <div class="header">
                <div class="month">Сентябрь</div>
                <div class="year">2019
                    <img id="triangle"
                         src="../../img/rectangle.png"
                         class="triangle"/>
                    </div>
                <div class="nav">
                    <img src="../../img/k-strelka.png"/>
                    <img src="../../img/k-strelka.png"
                         style="transform: rotate(180deg); margin-left: 15px"/>
                </div>
            </div>
            <div class="day">
                <div>Пн</div>
                <div>Вт</div>
                <div>Ср</div>
                <div>Чт</div>
                <div>Пт</div>
                <div>Сб</div>
                <div>Вс</div>
            </div>
            <div class="row">
                <div class="day _other-month">26</div>
                <div class="day _other-month">27</div>
                <div class="day _other-month">28</div>
                <div class="day _other-month">29</div>
                <div class="day _other-month">30</div>
                <div class="day _other-month">31</div>
                <div class="day">1</div>
            </div>
            <div class="row">
                <div class="day">2</div>
                <div class="day">3</div>
                <div class="day">4</div>
                <div class="day">5</div>
                <div class="day">6</div>
                <div class="day">7</div>
                <div class="day">8</div>
            </div>
            <div class="row">
                <div class="day">9</div>
                <div class="day">10</div>
                <div class="day">11</div>
                <div class="day ">12</div>
                <div class="day">13</div>
                <div class="day">14</div>
                <div class="day">15</div>
            </div>
            <div class="row">
                <div class="day">16</div>
                <div class="day">17</div>
                <div class="day _today">18</div>
                <div class="day _choice">19</div>
                <div class="day">20</div>
                <div class="day">21</div>
                <div class="day">22</div>
            </div>
            <div class="row">
                <div class="day">23</div>
                <div class="day">24</div>
                <div class="day">25</div>
                <div class="day">26</div>
                <div class="day">27</div>
                <div class="day">28</div>
                <div class="day">29</div>
            </div>
            <div class="row">
                <div class="day">30</div>
                <div class="day">31</div>
                <div class="day _other-month">1</div>
                <div class="day _other-month">2</div>
                <div class="day _other-month">3</div>
                <div class="day _other-month">4</div>
                <div class="day _other-month">5</div>
            </div>
        </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

