<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>

        <div class="title-sv title-ln">
            Запомнить именины
        </div>
        <div class="container _mr">
            <div class="row">
                <div class="col">
                    <%= _.template(require('./../includes/block-date/block-date.html').default)(data) %>
                </div>
                <div class="col">
                    <div class="input-container" style="width: 370px">
                        <textarea class="textarea-mini" placeholder="Ваш комментарий"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="container _mr">
            <div class="notification">
                <div class="title">
                    <span>СПОСОБЫ</span> УВЕДОМЛЕНИЯ
                </div>
                <div class="text">
                    Мы будем благодарны, если Вы расскажете о нашем
                    проекте своим друзьям
                </div>


                <div class="notification-way">
                    <div class="row">
                        <div class="col">
                            <div class="way">
                                <div class="icon">
                                    <img src="img/notification/email.svg" alt="email">
                                </div>
                                <div class="input-container">
                                    <input type="text" placeholder="e-mail">
                                </div>
                                <div class="switch _off">
                                    <div class="circle _off"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="way">
                                <div class="icon">
                                    <img src="img/notification/push.svg" alt="push">
                                </div>
                                <div class="text">
                                    PUSH-уведомления
                                </div>
                                <div class="switch _off">
                                    <div class="circle _off"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

