<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        Уведомления-праздники
    </div>
</div>

<div class="modal _close remember-holiday">
    <div class="content">
        <div class="title-sv title-ln">
            ВЫ ЗАПОМНИЛИ
            <br/>ПРАЗДНИК
        </div>
        <div class="text">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>
        <div class="holiday">
            <div class="left">
                <div class="text">
                    <div class="num">24</div>
                    <div class="month">сентября</div>
                </div>
            </div>
            <div class="right">
                <div class="text">
                    <div>День памяти</div>
                    <div>Князя Владимира</div>
                </div>
            </div>
        </div>
        <div class="text _text-footer">
            Теперь Вы будете получать уведомления
            о предстоящем празднике удобным
            для Вас способом
        </div>

        <div class="close" id="close-modal">
            <div></div>
        </div>

    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

