<% var data = {
title: "Календарь"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-wrapper">

    <div class="content">
        <%= _.template(require('./../includes/header.html').default)(data) %>
        <div class="container _mr">
            <div class="calendar-result-name ">
                <div class="title-sv">
                    Праздники
                </div>
                <div class="calendar-content ">
                    <div class="header">
                        <div class="wrap _wrap-calendar-content">
                            <img class="arrow _left" src="img/calendar/array.svg" alt="назад">
                            <div class="date">
                                <span class="month">СЕНТЯБРЬ</span>
                                <span class="year">2019</span>
                            </div>
                            <img class="arrow _right" src="img/calendar/array.svg" alt="вперед">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
            </div>
        </div>
        <div class="container _mr">
            <div class="title"><span>БЛИЖАЙШИЕ</span> ПРАЗДНИКИ</div>
            <div class="row">
                <div class="col">
                    <div class="block _main-holiday">
                        <div class="number">18</div>
                        <div class="text">
                            Светлое
                            <br>Христово
                            <br>Воскресение
                        </div>
                    </div>
                </div>
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
                <div class="col">
                    <%= _.template(require('./../includes/holiday/holiday.html').default)(data) %>
                </div>
            </div>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/share/share.html').default)(data) %>
        </div>
        <div class="container _mr">
            <%= _.template(require('./../includes/mailing/mailing-and-input.html').default)(data) %>
        </div>

    </div>
</div>
<div class="save-holidays">
    <div class="save">
        <div class="wrap-btn">
            <button>ЗАПОМНИТЬ ВСЕ ПРАЗДНИКИ</button>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>