<div class="name-not-found">
    <div class="title">
        Имя <span>Николай</span> не найдено
    </div>
    <div class="text">
        Но в нашем сервисе есть другие
        имена на букву «Н»
    </div>
</div>