<div class="block _sv">
    <a href="page-7.html">
        <div class="profile _sv">
            <div class="icon">
                <img src="img/profile-icon.png" alt="фото"/>
            </div>
            <div class="name">
                <div>Матрона</div>
                <div>Московская</div>
            </div>
        </div>
    </a>
    <div class="main-dates">
        <div class="dates">
            <div class="date">
                <a href="page-1.html">
                    6 (19) декабря
                </a>
            </div>
            <div class="date _date-check">
                <a href="page-1.html">
                9 (22) мая
                </a>
            </div>
            <div class="date">
                <a href="page-1.html">
                15 (28) июля
                </a>
            </div>
            <div class="date">
                <a href="page-1.html">
                6 (19) декабря
                </a>
            </div>
            <div class="date">
                <a href="page-1.html">
                15 (28) июля
                </a>
            </div>
        </div>
    </div>
</div>